{% extends "base/base.html" %}
{% load static %}

{%block content%}
<!-- Owl Carosel -->
<div class="owl-carousel owl-theme owl-carousel-slider">
  <div class="item">
    <img src="{% static 'img/slide-01.jpg' %}" alt="" />
  </div>
  <div class="item">
    <img src="{% static 'img/slide-02.jpg' %}" alt="" />
  </div>
  <div class="item">
    <img src="{% static 'img/slide-03.jpg' %}" alt="" />
  </div>
  <div class="item">
    <img src="{% static 'img/slide-04.jpg' %}" alt="" />
  </div>
</div>
<!-- show category start-->
<div class="show-category">
  <div class="cat-image">
    <h2>WOMEN</h2>
    <img src="{% static 'img/banner-01.jpg' %}" alt="" />
    <!-- <p>Shop Now</p> -->
  </div>
  <div class="cat-image">
    <h2>MEN</h2>
    <img src="{% static 'img/banner-02.jpg' %}" alt="" />
    <!-- <p>Shop Now</p> -->
  </div>
  <div class="cat-image">
    <h2>KID'S</h2>
    <img src="{% static 'img/banner-03.jpg'  %}" alt="" />
    <!-- <p>Shop Now</p> -->
  </div>
</div>
<!-- show category end -->
<!-- product overview start -->
<div id="produ-heading">
  <h1>PRODUCT OVERVIEW</h1>
</div>
<div class="prod-img">
  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-01.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-02.jpg' %}" alt="" />
    </div>

    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-03.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-04.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>
</div>
<div class="prod-img">
  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-05.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>
  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-06.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-07.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-08.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>
</div>
<div class="prod-img">
  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-09.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-10.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-11.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>

  <div class="image">
    <div class="prd-img">
      <img src="{% static 'img/product-12.jpg' %}" alt="" />
    </div>
    <div class="name-wish">
      <p>Esprit Ruffle Shirt</p>
      <a href=""><span class="fa-regular fa-heart"></span></a>
    </div>
    <div class="price">
      <p>$230</p>
      <p><del>$500</del></p>
    </div>
  </div>
</div>
<!-- product overview end -->
{%endblock%}